@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.header {
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .headerLeft {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .headerLeft img {
  width: 4em;
  display: block;
  margin-left: 10px;
}

.header .headerRight {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .headerRight div {
  text-decoration: none;
}

.header .headerRight div .btnContact {
  width: 67.5px;
  display: block;
  margin-right: 10px;
  background-color: white;
  color: #4550e8;
  height: 65px;
  border: 2px solid #4550e8;
  font-size: 1.8em;
  font-weight: 600;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding-top: 7.5px;
}

.header .headerRight div .btnContact:hover {
  background-color: #4550e8;
  color: white;
  cursor: pointer;
}

.header .headerRight div .popupIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header nav {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header nav ul li {
  padding: 15px;
  list-style-type: none;
}

.header nav ul li a {
  color: #4550e8;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.1em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header nav ul li a:hover {
  color: #121212;
}

.listToggle {
  text-align: center;
  margin-bottom: 50px;
}

.listToggle a {
  color: #4550e8;
  font-size: 4em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.listToggle a:hover {
  color: #4550e8;
  opacity: 80%;
  font-size: 4.5em;
}

.header.active {
  width: 98.5%;
  margin-top: 15px;
  background-color: white;
  box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.2);
}

.headerMobile {
  display: none;
}

@media all and (max-width: 800px) {
  .header {
    border-radius: 20px;
  }
  .header .headerLeft img {
    width: 3em;
    margin-left: 10px;
  }
  .header .headerRight div .btnContact {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    font-size: 1.5em;
  }
  .header nav ul {
    margin-left: -40px;
  }
  .header nav ul li {
    padding: 7.5px;
  }
  .header nav ul li a {
    font-size: 0.8em;
  }
  .header.active {
    margin-top: 10px;
  }
}

@media all and (max-width: 530px) {
  .header {
    display: none;
  }
  .header.active {
    display: none;
  }
  .headerMobile {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50000;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
    height: 80px;
  }
  .headerMobile .BottomNavigation {
    width: 100%;
    border-radius: 20px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerMobile .BottomNavigation .MuiBottomNavigationAction-iconOnly {
    min-width: 30px;
    margin-top: 60px;
  }
}
/*# sourceMappingURL=Header.css.map */